# Database Connection String
DATABASE_URL=""

# Database Instance Variables
POSTGRE_DB=""
POSTGRE_USER=""
POSTGRE_HOST=""
POSTGRE_PASSWORD=""
POSTGRE_PORT=

# Backend Component Variables
BACKEND_PORT=

JWT_SECRET=""

THROTTLE_TTL=
THROTTLE_LIMIT=

# Payments gateway Variables
MIDTRANS_MERCHANT_ID=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_SERVER_KEY=""

# Mailing System Variables
MAIL_MAILER=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""
